* {
    padding: 0px;
    margin: 0px;
    background-color: #e2e8f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#header {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 15px;
}

#header > h1 {
    background-color: black;
    font-size: 25px;
}

#playerTurn {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

#gameboard {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    justify-content: center;
    border: .8px solid #94a3b8;
    border-radius: 10px;
    overflow: hidden;
    background: #94a3b8;
    color: #020617;
}

.square {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 54px;
    background-color: #d6d6d6;
    color: #12232E;
    border: none;
    border-radius: 0px;
    border: .8px solid #94a3b8;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .4s ease-in-out;
}

#square-0 {
    border-top-left-radius: 9px;
}
#square-2 {
    border-top-right-radius: 9px;
}
#square-6 {
    border-bottom-left-radius: 9px;
}
#square-8 {
    border-bottom-right-radius: 9px;
}

.square:hover {
    background-color: #94a3b8;
    color: white;
    cursor: pointer;
}

#controls, #message {
    text-align: center;
    margin: 20px 0;
}

#restartButton {
    background-color: #12232E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

#restartButton:hover {
    background-color: #94a3b8;
    color: #12232E;
}

#restartButton:active {
    transform: scale(.95);
}

.winning-square {
    background-color: aqua; /* Or any color you want */
    /* Add any other styling you want */
}

.square.no-hover:hover {
    /* Here, reset the properties that are changed by .square:hover */
    /* For example, if .square:hover changes background-color, reset it here: */
    background-color: #d6d6d6;
    color: black;
}

.square.no-hover.winning-square:hover {
    /* Here, reset the properties that are changed by .square:hover */
    /* For example, if .square:hover changes background-color, reset it here: */
    background-color: aqua;
    color: black;
}