* {
    padding: 0px;
    margin: 0px;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#gameboard {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    border: 1px solid black;
}

.square {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 54px;
    background-color: #d6d6d6;
    color: #12232E;
    border: none;
    border-radius: 0px;
    border: 1px solid black;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#controls, #message {
    text-align: center;
    margin: 20px 0;
}